body {
    background-color: #f8f9fa;
    color: #212529;
}

.dark-mode {
    background-color: #343a40;
    color: #f8f9fa;
}

.dark-mode .navbar {
    background-color: #212529;
}

.dark-mode .drop-zone {
    background-color: #495057;
    border-color: #ced4da;
}

.dark-mode .drop-zone__prompt {
    color: #f8f9fa;
}

.drop-zone {
    border: 2px dashed #6c757d;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    background-color: #e9ecef;
    transition: background-color 0.3s ease;
}

.drop-zone.dragover {
    background-color: #ced4da;
}
